.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {

    body.page_test {

        .container {
            flex-direction: column;
        }

        .accordion-content {
            display: none;
            margin-top: 5px;
        }
    }
}

& when (@media-common =true) {

    body.page_test {
        font-family: Arial, sans-serif;


        .container {
            display: flex;
            justify-content: space-between;
        }

        .colum {
            flex-basis: 48%;
            border: 1px solid #ccc;
            padding: 10px;
            margin: 5px;
        }

        .accordion-title {
            cursor: pointer;
            font-weight: bold;
        }

        .accordion-content {
            display: block;

        }


    }
}