<div class="container">
    <div class="colum">
        <div class="accordion-title" onclick="toggleAccordion(this)">Columna 1</div>
        <div class="accordion-content">
            <ul>
                <li>Elemento 1</li>
                <li>Elemento 2</li>
                <li>Elemento 3</li>
                <li>Elemento 4</li>
                <li>Elemento 5</li>
            </ul>
        </div>
    </div>
    <div class="colum">
        <div class="accordion-title" onclick="toggleAccordion(this)">Columna 2</div>
        <div class="accordion-content">
            <ul>
                <li>Elemento 1</li>
                <li>Elemento 2</li>
                <li>Elemento 3</li>
                <li>Elemento 4</li>
                <li>Elemento 5</li>
            </ul>
        </div>
    </div>
</div>

<a href="#" id="show-popup">Mostrar Popup</a>

<div id="popup-content" style="display:none;">
<?php
    $blockId = 'prueba'; 
    $layout = $block->getLayout();
    $blockContent = $layout->createBlock('Magento\Cms\Block\Block')->setBlockId($blockId)->toHtml();
    echo $blockContent;
?>
   
</div>

<script type="text/x-magento-init">
    {   
    ".container": {
        "Heinsohn_Page/js/page": {
        }
    },
    "#show-popup":{
        "Heinsohn_Page/js/modal": {
        }
    }
}
</script>