// Cambiar el color de fondo de los botones
.action.primary {
    background-color: @primary-button__color; 
    color: @color_text_button;

    &:hover{
        background-color: @primary-button__color_hover;
    }
}


// Cambiar el color de los enlaces
a {
    color: @a__color !important;
}